* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
    -moz-user-select: none;
}

body {
    background-color: #fcffed;
    text-align: center;
}

canvas {
    margin: 20px;
    border-radius: 20px;
    border: 1px solid #000;
    background: #d5fcff;
}

#end_game, #screen_overlay, #end_game_overlay {
    display: none;
}

#screen_overlay, #end_game_overlay {
    position: absolute;
    background: transparent;
    height: 600px;
    width: 600px;
    top: 20px;
    left: 50%;
    margin-left: -302px;
    padding: 50px;
}

#end_game, #screen {
    width: 500px;
    position: relative;
    border-radius: 20px;
    background: #008080;
    overflow: hidden;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
}

#screen {
    height: 500px;
    width: 500px;
}

#p {
    position: absolute;
    display: none;
    width: 50%;
    margin: 100px 25% 0 25%;
    background: #bbb;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#p button {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
}

#d, #u {
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
    color: #000;
    display: none;
    text-align: left;
    width: 100%;
    position: absolute;
    overflow: visible;
    background: #fafafa;
}

#d ul, #u ul {
    z-index: 1;
}

#d {
    bottom: 0;
}

#d ul {
    bottom: 30px;
}

li, ul {
    background: #fafafa;
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

#d > ul, #u > ul {
    display: inline-block;
}

#d > ul li, #u > ul li {
    padding: 10px;
}

li ul {
    display: none;
    position: absolute;
}

#screen li ul {
    margin: 8px 0;
}

#screen > * > ul ul {
    left: 0;
}

#screen li li {
    padding: 10px;
}

#end_game {
    color: #fff;
    font-family: monospace;
    font-size: 30px;
    padding: 30px 0;
    z-index: 3;
}

#end_game p {
    margin: 0.2em 0;
}

#end_game span {
    color: black;
    cursor: pointer;
    font-size: 0.8em;
}
